# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
#
# Wikimedia Tool Labs specific note:
#   Please be aware that *only* jsub and jstart are acceptable
#   commands to schedule via cron.  Any command specified here will
#   be modified to be invoked through jsub unless it is one of
#   the two.
# 
# m h  dom mon dow   command

# 0 *    * * * jsub -N test           -quiet -o /dev/null -e /dev/null python3 $HOME/test.py
# 0 *    * * * jsub -N markall        -quiet -o /dev/null -e /dev/null python3 $HOME/markers/markall.py $HOME/markers
0 1-23 * * * jsub -N autopurge-fast   -quiet -o /dev/null -e /dev/null python3 $HOME/autopurge.py --hourly
0 0    * * * jsub -N autopurge-full   -quiet -o /dev/null -e /dev/null python3 $HOME/autopurge.py --null --hourly --daily
0 *    * * * jsub -N sandboxes        -quiet -o /dev/null -e /dev/null python3 $HOME/sandbox.py
0 *    * * * jsub -N fastzka          -quiet -o /dev/null -e /dev/null python3 $HOME/fastzka.py $HOME/data/fastzka.txt
0 *    * * * jsub -N techtasks        -quiet -o /dev/null -e /dev/null python3 $HOME/techtasks.py
0 0    * * * jsub -N validation-stats -quiet -o /dev/null -e /dev/null python3 $HOME/validstats.py $HOME/data/validation.tsv
0 0    * * 2 jsub -N tow              -quiet -o /dev/null -e /dev/null python3 $HOME/tow.py
0 0    * * 5 jsub -N sort-unrev-files -quiet -o /dev/null -e /dev/null python3 $HOME/sort_unrev_files.py
0 0    * * 6 jsub -N afi              -quiet -o /dev/null -e /dev/null python3 $HOME/afi.py
